.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project
/bin/
/Libs/
settings
/.settings/
/.cache/
/.classpath
.svn/

Katalon-OrangeHRM.prj
appium.log
console.properties
/bin/
/Libs/
/.settings/
/.classpath
.svn/
/bin/
/Libs/
/.settings/
/.classpath
/bin/
/Libs/
/.settings/
.svn/
/.DS_Store
/bin/
/Libs/
/.settings/
/.classpath
.svn/